{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle. If not, see
    <http: //www.gnu.org/licenses />.
}}
{{!
    @template mod_snippet/snips/snips

    This template renders a list of snips.

    Example context (json):
    {
        "display_language" : "PHP",
        "language"   : "php",
        "snippet"    : "Code",
        "cap_addsnip": "Whether the user can add a snip category"
    }
}}

<div class="row">
    <div class="col-3">
        {{! Display the snips nav menu on the left of the fullsnip. }}
        {{> mod_snippet/snips/snipsincat }}
    </div>
    <div class="col-9">
        {{! Display the snip content. }}
        {{#snip}}
            {{> mod_snippet/snips/snip }}
        {{/snip}}
    </div>
</div>
